
<%= form_tag "/pets/#{@pet.id}", method: :patch  do %>
  <div class="field">
    <%= label_tag :name, nil, class: "label" %>
    <%= text_field_tag :name, @pet.name, class: "input" %>
  </div>
  <div class="field">
    <%= label_tag :age,nil , class: "label" %>
    <%= text_field_tag :age, @pet.age, class: "input" %>
  </div>
  <div class="field">
    <%= label_tag :sex, nil, class: "label" %>
    <%= text_field_tag :sex, @pet.sex, class: "input" %>
  </div>
  <div class="field">
    <%= label_tag :image, nil, class: "label" %>
    <%= text_field_tag :image, @pet.image, class: "input" %>
  </div>
  <div class="field">
    <%= label_tag :description, nil, class: "label" %>
    <%= text_field_tag :description, @pet.description, class: "input" %>
  </div>
  <%= submit_tag 'Update Pet', class: "button" %>
<% end %>
